@model List<GameStore.WebUI.Models.DTO.ProductDTO>
@{
    ViewBag.Title = "Games";
}

<h3>Games</h3>
@{
    var counter = 0;
}
<hr />
<section id='content'>
    @foreach (var item in Model)
    {
        if ((counter + 1) % 4 == 1)
        {
            @:<div class='special_grid_row'>
    }

        <div class="special_grid_col">
            <div class="special_box">
                <img src="images/@item.Image" class="img-responsive" alt="" />
                <h4>@item.ProductName</h4>
                <div class="grid_1">
                    <div class="special_item_price">
                        <span class="price-old">@item.Price</span><span class="price-new">@item.Price</span>
                    </div>
                    <div class="special_item_add">
                        <ul>
                            <li>
                                <form method='post' action='mycart.jsp'>
                                    <input type='hidden' name='id' value='@item.ProductId"/>'>
                                    <input type='hidden' name='name' value='@item.ProductName"/>'>
                                    <input type='hidden' name='type' value='1'>
                                    <input type='submit' class='formbutton' value='Add to Cart'>
                                </form>
                            </li>
                            <li><a class='button' href='review.jsp?productid=@item.ProductId'>Reviews</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        if ((counter + 1) % 4 == 0 || counter == Model.Count() - 1)
        {
            @:</div>
    }
        counter++;
    }
    <div class='clear'>
</section>
