@model List<GameStore.WebUI.Models.DTO.ProductDTO>
@{
    ViewBag.Title = "Consoles";
}
<div class="row">
    <div style="float:left; padding-left:15px">
        <h3>Consoles</h3>
    </div>
    <div style="float:right; padding-right:15px">
        <span>My Order(8)</span><span>@Html.ActionLink("Cart(8)", "Index", "ShoppingCart")</span>
    </div>
</div>
@{
    var counter = 0;
}
<section id='content'>
@foreach (var item in Model)
{
    if ((counter + 1) % 4 == 1)
    {
        @:<div class='special_grid_row'>
    }

    <div class="special_grid_col">
        <div class="special_box">
            <img src="images/@item.Image" class="img-responsive" alt="" />
            <h4>@item.ProductName</h4>
            <div class="grid_1">
                <div class="special_item_price">
                    <span class="price-old">@item.Price</span><span class="price-new">@item.GetDiscountedPrice()</span>
                </div>
                <div class="special_item_add">
                    <ul>
                        <li>
                            @using (Html.BeginForm("CreateOrUpdate", "ShoppingCart", FormMethod.Post))
                            {
                                <input type='hidden' name='id' value='@item.ProductId'>
                                <input type='hidden' name='quantity' value='0'>
                                <input type='submit' class='btn btn-success' value='Add to Cart'>
                            }
                        </li>
                        <li><a class='btn btn-info' href='review.jsp?productid=@item.ProductId'>Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    if ((counter + 1) % 4 == 0 || counter == Model.Count() - 1)
    {
        @:</div>
    }
    counter++;
}
<div class='clear'>
</section>
