@model GameStore.WebUI.Models.DTO.ProductDTO
@{
    ViewBag.Title = "Product Management";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Ajax.BeginForm("", new { controller = "api/Product/" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="panel panel-info">
        <div class="panel-heading">New Product</div>
        <div class="panel-body">
            <div class="form-group required">
                @Html.LabelFor(o => o.ProductName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.ProductName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.CategoryId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(o => o.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.Price, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Price, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.Image, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Image, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.Condition, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Condition, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.Discount, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Discount, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
            </div>
        </div>
    </div>
}

<form class="form-inline" role="form">
    <div class="form-group">
        <label for="categoryFilter">Category:</label>
        @Html.DropDownListFor(o => o.CategoryId, new SelectList(ViewBag.CategoryFilter, "CategoryId", "CategoryName"), new { @id = "categoryFilter", @name = "categoryFilter", @class = "form-control" })
    </div>
</form>
<hr />
<table class="table table-striped" id="productList">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Condition</th>
            <th>Discount</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="well">
    <h5>* The content of this page is cached by ASP.NET Cache.</h5>
    <h5>* There are three levels of cache, all products level, products by category level and single product level.</h5>
</div>

@section Scripts
{
    <script>
        $().ready(function () {
            $(".fancybox").fancybox({
                fitToView: false,
                autoSize: false,
                autoDimensions: false,
                width: 370,
                height: 600,
                afterClose: function () { window.location.reload(); }
            });
            loadList();
        });

        $("#categoryFilter").on('change', function (e) {
            loadList(this.value);
        });
        function onSuccess(data) {
            if (data == "Okay") {
                $('.text-danger ul').children().remove();
                loadList($("#categoryFilter").val());
            } else {
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").removeClass("validation-summary-valid");
                $('.text-danger ul').children().remove();
                $('.text-danger ul').append("<li>" + data + "</li>")
            }
        }
        function onFailure(data) {
            alert('An error occurred, please try again.');
            //alert('Error:' + data.responseText);
        }
        function loadList(categoryid) {
            $("#productList").find('tbody').empty();
            var url = '/api/Product/?CategoryId=' + categoryid + '&CategoryName=AAA';
            console.log(url);
            $.getJSON(url, function (data) {
                $.each(data, function (i, product) {
                    $('#productList tbody').append("<tr><td>" + product.ProductId + "</td><td>" + product.ProductName + "</td><td>" + product.CategoryName + "</td><td>" + product.Price + "</td><td>" + product.Image + "</td><td>" + product.Condition + "</td><td>" + product.Discount + "</td><td><span style='padding-right:3px;'><a class='fancybox fancybox.iframe' href='/Product/Edit/" + product.ProductId + "'>Edit</a> </span><a href='javascript:deleteProduct(" + product.ProductId + ");'> Delete </a></td>");
                });
            });
        }

        function deleteProduct(id) {
            var result = confirm("Are you sure to delete?");
            if (result) {
                $.ajax({
                    url: '/api/Product/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        loadList();
                    },
                    error: function (result) {
                        alert("Unable to delete product.")
                    }
                });
            }
        }
    </script>
}

