@using GameStore.Extension;
@model List<GameStore.WebUI.Models.DTO.ProductDTO>
@{
    var counter = 0;
}
@Html.Partial("_FrontPartial")
<section id='content'>
@foreach (var item in Model)
{
    if ((counter + 1) % 4 == 1)
    {
        @:<div class='special_grid_row'>
    }

    <div class="special_grid_col">
        <div class="special_box">
            <a href='/Product/Detail/@item.ProductId'><img src="~/images/@item.Image" class="img-responsive" alt="" /></a>
            <h4>@item.ProductName</h4>         
            <div class="grid_1">
                <div class="special_item_price">
                    <span class="price-old">@Html.FormattedCurrency(item.Price)</span><span class="price-new">@Html.FormattedCurrency(item.GetDiscountedPrice())</span>
                </div>
                <div class="special_item_add">
                    <ul>
                        <li>
                            @using (Html.BeginForm("CreateOrUpdate", "ShoppingCart", FormMethod.Post))
                            {
                                <input type='hidden' name='id' value='@item.ProductId'>
                                <input type='hidden' name='quantity' value='0'>
                                <input type='submit' class='btn btn-success' value='Add to Cart'>
                            }
                        </li>
                        <li><a class='btn btn-warn' href='/Product/Detail/@item.ProductId'>Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    if ((counter + 1) % 4 == 0 || counter == Model.Count() - 1)
    {
        @:</div>
    }
    counter++;
}
<div class='clear'>
</section>
