@model Assignment3.Models.CustomerListViewModel
@{
    ViewBag.Title = "Customer List";
}

<h2>@ViewBag.Title</h2>
@if (Model.IsError == false)
{
    <div class="container">
        <h4>@Html.ActionLink("Register as a new user", "Register", "Home")</h4>
        <hr />
        @if (Model.Message != null) {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success! </strong>@Model.Message
            </div>
        }
        @if (Model.Customers.Count == 0)
        {
            <p><strong>No customer found.</strong></p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                        <tr>
                            <td>@customer.Id</td>
                            <td>@customer.UserName</td>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            <td>@customer.Email</td>
                            <td>
                                <span style="padding-right:3px;">@Html.ActionLink("Edit", "Edit", "Home", new { id = customer.Id }, new { @class = "fancybox fancybox.iframe" }) </span>
                                <span>@Html.ActionLink("Delete", "Delete", "Home", new { id = customer.Id }, new { onclick = "return confirm('Are you sure you want to delete this customer?');", @class = "fancybox fancybox.iframe" })</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>    
}
else
{
    <strong>@Model.Message</strong>
}

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".fancybox").fancybox({
                fitToView: false,
                autoSize: false,
                autoDimensions: false,
                width: 520,
                height: 310,
                afterClose: function () { window.location.reload(); }
            });
        });

        window.setTimeout(function () {
            $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>
}