@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName()<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("User", "Index", "User")</li>
                        <li>@Html.ActionLink("Role", "Index", "Role")</li>
                        <li>@Html.ActionLink("Product", "Index", "Product")</li>
                        <li>@Html.ActionLink("Category", "Index", "Category")</li>
                        <li>@Html.ActionLink("My Cart", "Index", "ShoppingCart")</li>
                        <li>@Html.ActionLink("My Order", "Index", "MyOrder")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Admin/Dashboard")</li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Regular"))
                    {
                        <li>@Html.ActionLink("User", "Index", "User")</li>
                        <li>@Html.ActionLink("Role", "Index", "Role")</li>
                        <li>@Html.ActionLink("Product", "Index", "Product")</li>
                        <li>@Html.ActionLink("Category", "Index", "Category")</li>
                        <li>@Html.ActionLink("My Cart", "Index", "ShoppingCart")</li>
                        <li>@Html.ActionLink("My Order", "Index", "MyOrder")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Admin/Dashboard")</li>
                    }
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
    </ul>
}
